@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Roboto', sans-serif;
    /* subtle background using company greens (low opacity) */
    background: linear-gradient(180deg, rgba(142,190,68,0.04), rgba(115,177,32,0.01));
    color: #264051;
  }
}
